<font size = "6">Pandas equivalent of 10 useful SQL queries</font>

... or Pandas for SQL developers

by DORIAN LAZAR

The original notebook by the author can be accessed [here](https://www.kaggle.com/code/dorianlazar/pandas-equivalent-of-10-useful-sql-queries).


Updated on 30 June 2024
<hr>

In case you don't know, pandas is a python library for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. The name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.[1](https://en.wikipedia.org/wiki/Pandas_(software)) Basically, it is a way of working with tables in python. In pandas tables of data are called `DataFrame`s.

As the title suggests, in this article I'll show you the pandas equivalents of some of the most useful SQL queries. This can serve both as an introduction to pandas for those who already know SQL or as a cheat sheet of common pandas operations you may need.

<font size="5">Table of Contents</font>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#SELECT">SELECT</a>
            <ul>
                <li><a href="#SELECT-ALL">SELECT ALL</a></li>
                <li><a href="#SELECT-DISTINCT">SELECT DISTINCT</a></li>
                <li><a href="#SELECT-TOP-or-LIMIT">SELECT TOP or LIMIT</a></li>
                <li><a href="#MIN(),-MAX(),-COUNT(),-AVG(),-and-SUM()-functions">MIN(), MAX(), COUNT(), AVG(), and SUM() functions</a></li>
            </ul>
        </li>
        <li>
            <a href="#WHERE">WHERE</a>
            <ul>
                <li><a href="#IS-NULL-or-IS-NOT-NULL">IS NULL or IS NOT NULL</a></li>
                <li><a href="#LIKE">LIKE</a></li>
            </ul>
        </li>
        <li>
            <a href="#ORDER-BY">ORDER BY</a>
        </li>
        <li>
            <a href="#GROUP-BY">GROUP BY</a>
        </li>
        <li>
            <a href="#HAVING">HAVING</a>
        </li>
        <li>
            <a href="#INSERT">INSERT</a>
        </li>
        <li>
            <a href="#DELETE">DELETE</a>
        </li>
        <li>
            <a href="#ALTER">ALTER</a>
            <ul>
                <li><a href="#ADD-column">ADD column</a></li>
                <li><a href="#DELETE-column">DELETE column</a></li>
            </ul>
        </li>     
        <li>
            <a href="#UPDATE">UPDATE</a>
        </li>
        <li>
            <a href="#JOIN">JOIN</a>
            <ul>
                <li><a href="#INNER-JOIN">INNER JOIN</a></li>
                <li><a href="#OUTER-JOIN">OUTER JOIN</a></li>
                <li><a href="#LEFT-JOIN">LEFT JOIN</a></li>                
                <li><a href="#RIGHT-JOIN">RIGHT JOIN</a></li>
            </ul>
        </li>
    </ul>
</div>

<hr>

For the examples below I will use this dataset USvideos.csv which consists of data about trending YouTube videos in the US. It consists of 40949 rows with 16 columns: video_id,trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description.

In [38]:
import numpy as np
import pandas as pd

# Reading the csv file into a DataFrame
df = pd.read_csv('data/USvideos.csv')
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40944,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...

Pandas operations, by default, don't modify the data frame which you are working with; they just return other data frames which you need to assign to a variable if you want to save the changes. For most examples below we don't change our original data frame, we just show the returned result.

# SELECT

## SELECT ALL
```SQL
SELECT col1, col2, ... FROM table
```

The SELECT statement is used to select columns of data from a table.

To do the same thing in pandas we just have to use the array notation on the data frame and inside the square brackets pass a list with the column names you want to select.

In [39]:
df[['video_id', 'title']]

          video_id                                              title
0      2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1      1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2      5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3      puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4      d380meD0W0M                           I Dare You: GOING BALD!?
...            ...                                                ...
40944  BZt0qjTWNhw                       The Cat Who Caught the Laser
40945  1h7KV2sjUWY                         True Facts : Ant Mutualism
40946  D6Oy4LfoqsU  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947  oV0zkMe1K8s                How Black Panther Should Have Ended
40948  ooyjaVdt-jA  Official Call of Duty®: Black Ops 4 — Multipla...

[40949 rows x 2 columns]

The same thing can be made with the following syntax which makes easier to translate WHERE statements later:

In [40]:
df.loc[:, ['video_id', 'title']]

          video_id                                              title
0      2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1      1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2      5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3      puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4      d380meD0W0M                           I Dare You: GOING BALD!?
...            ...                                                ...
40944  BZt0qjTWNhw                       The Cat Who Caught the Laser
40945  1h7KV2sjUWY                         True Facts : Ant Mutualism
40946  D6Oy4LfoqsU  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947  oV0zkMe1K8s                How Black Panther Should Have Ended
40948  ooyjaVdt-jA  Official Call of Duty®: Black Ops 4 — Multipla...

[40949 rows x 2 columns]

## SELECT DISTINCT

```SQL
SELECT DISTINCT col1, col2, ... FROM table
```

The SELECT DISTINCT statement returns only unique rows form a table.

In a data frame there may be duplicate values. If you want to get only distinct rows (remove duplicates) it is as simple as calling the `.drop_duplicates()` method. Judging based on this method's name you may think that it removes duplicate rows from your initial data frame, but what it actually does is to return a new data frame with duplicate rows removed.

In [41]:
df.loc[:, ['channel_title']].drop_duplicates()

                  channel_title
0                  CaseyNeistat
1               LastWeekTonight
2                  Rudy Mancuso
3         Good Mythical Morning
4                      nigahiga
...                         ...
40366                      HALO
40475            Ben Kronengold
40488           All Def Digital
40540  How It Should Have Ended
40554     Ubisoft North America

[2207 rows x 1 columns]

## SELECT TOP or LIMIT

```SQL
SELECT TOP number col1, col2 FROM table
```
or
```SQL
SELECT col1, col2, ... FROM table LIMIT number
```

The TOP or LIMIT keyword in SQL is used to limit the number of returned rows from the top of the table.

In pandas this is very easy to do with `.head(number)` method. Pandas also has the `.tail(number)` method for showing the rows from the end of data frame.

In [42]:
df.loc[:, ['video_id', 'title']].head(5)

      video_id                                              title
0  2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1  1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2  5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3  puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4  d380meD0W0M                           I Dare You: GOING BALD!?

In [43]:
df.loc[:, ['video_id', 'title']].tail(5)

          video_id                                              title
40944  BZt0qjTWNhw                       The Cat Who Caught the Laser
40945  1h7KV2sjUWY                         True Facts : Ant Mutualism
40946  D6Oy4LfoqsU  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947  oV0zkMe1K8s                How Black Panther Should Have Ended
40948  ooyjaVdt-jA  Official Call of Duty®: Black Ops 4 — Multipla...

## MIN(), MAX(), COUNT(), AVG(), and SUM() functions

SQL's MIN(), MAX(), COUNT(), AVG(), and SUM() functions are pretty straightforward to translate to pandas:

```SQL
SELECT MIN(col) FROM table
```

In [44]:
df.loc[:, ['views']].min()

views    549
dtype: int64

```SQL
SELECT MAX(col) FROM table
```

In [45]:
df.loc[:, ['views']].max()

views    225211923
dtype: int64

```SQL
SELECT COUNT(col) FROM table
```

In [46]:
df.loc[:, ['views']].count()

views    40949
dtype: int64

```SQL
SELECT AVG(col) FROM table
```

In [47]:
df.loc[:, ['views']].mean()

views    2.360785e+06
dtype: float64

```SQL
SELECT SUM(col) FROM table
```

In [48]:
df.loc[:, ['views']].sum()

views    96671770152
dtype: int64

Now, what if we want to do something like this:
```SQL
SELECT MAX(likes), MIN(dislikes) FROM table
```
We need to do this in more steps:

In [49]:
new_df = df.loc[:, ['likes']].max().rename({'likes': 'MAX(likes)'})
new_df['MIN(dislikes)'] = df.loc[:, ['dislikes']].min().values[0]
new_df

MAX(likes)       5613827
MIN(dislikes)          0
dtype: int64

# WHERE

```SQL
SELECT col1, col2, ... FROM table WHERE condition
```

The WHERE clause is used to extract only the rows that fulfill a specified condition.

Recall the syntax we used so far for selecting columns:

```Python
df.loc[:, ['col1', 'col2']]
```
Inside the square brackets of `.loc` there is place for two parameters; so far we only used the second one which is used to specify what columns you want to select. Guess for what is the first parameter? Is for selecting rows. Pandas data frames expect a list of row indices or boolean flags based on which it extracts the rows we need. So far we used only the `:` symbol which means "return all rows". If we want to extract only rows with indices from 50 to 80 we can use `50:80` in that place. For extracting rows based on some condition, most often we will pass there an array of boolean flags returned by some (vectorized) boolean operation. The rows on positions where we will have False will not be included in the result, only those rows with True on their positions will be returned.

Using equality and inequality operators `==`, `<`, `<=`, `>`, `>=`, `!=` in conditions is straightforward. For example, to return only rows that have number of likes >= 1000000 we can use:

In [50]:
df.loc[df['likes'] >= 1000000, ['video_id', 'title']]

          video_id                                              title
70     2Vv-BfVoq4g        Ed Sheeran - Perfect (Official Music Video)
336    2Vv-BfVoq4g        Ed Sheeran - Perfect (Official Music Video)
574    2Vv-BfVoq4g        Ed Sheeran - Perfect (Official Music Video)
801    TyHvyGVs42U          Luis Fonsi, Demi Lovato - Échame La Culpa
1005   TyHvyGVs42U          Luis Fonsi, Demi Lovato - Échame La Culpa
...            ...                                                ...
40823  VY1eFxgRR-k                         Selena Gomez - Back To You
40824  J2HytHu5VBI                                        we broke up
40855  D_6QmL6rExk  BTS (방탄소년단) 'FAKE LOVE' Official MV (Extended ...
40869  xTlNMmZKwpA  Cardi B, Bad Bunny & J Balvin - I Like It [Off...
40896  nQySbNGu4g0  [CHOREOGRAPHY] BTS (방탄소년단) 'FAKE LOVE' Dance P...

[369 rows x 2 columns]

Note that the reason for which we could do what we did above (`df['likes'] >= 1000000`) is that pandas has overwritten the default behavior for `>=` operator so that it applies the operator element-wise and returns an array of booleans of the shape that we need (number of rows).

But the operators `and`, `or`, `not` don't work like that. So, we will use `&` instead of `and`, `|` instead of `or`, `~` instead of `not`.

In [51]:
df.loc[(df['likes'] >= 1000000) & (df['dislikes'] <= 5000), ['video_id', 'title']].drop_duplicates()

          video_id                                              title
1278   ixxR3ZoqnF0  BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...
14755  J41qe-TM1DY                    JONGHYUN 종현 '빛이 나 (Shinin’)' MV
20823  Vm4Xn5vjqRA        CRISTIANO RONALDO E FRED, O GRANDE ENCONTRO
35156  2tDKp41nrw8          BTS (방탄소년단) 'FAKE LOVE' Official Teaser 2
37987  nQySbNGu4g0  [CHOREOGRAPHY] BTS (방탄소년단) 'FAKE LOVE' Dance P...

## IS NULL or IS NOT NULL

```SQL
SELECT col1, col2, ... FROM table WHERE colN IS NOT NULL
```

In SQL you can use IS NULL or IS NOT NULL to get rows that contain/don't contain null values.

How to check for null values in pandas?

We will use `isnull(array-like)` function from pandas package to do that. Note that this is not a method of data frame objects, don't use `df.isnull(...)`; instead do `pd.isnull(df['column']`). So be careful.

In [52]:
df.loc[pd.isnull(df['description']), ['video_id', 'title', 'description']].drop_duplicates()

,video_id,title,description
42,NZFhMSgbKKM,Dennis Smith Jr. and LeBron James go back and ...,NaN
47,sbcbvuitiTc,Stephon Marbury and Jimmer Fredette fight in C...,NaN
175,4d07RXYLsJE,Sphaera - demonstrating interaction,NaN
446,upEIZAihcwo,Devin Booker has words with Lakers assistant J...,NaN
632,U5sCjnezw4o,Jaylen Brown delivers emotional press conferen...,NaN
...,...,...,...
32150,zxwfDlhJIpw,kanye west / charlamagne interview,NaN
33775,Hzk1bM2vVFU,True Facts : Carnivorous Plants,NaN
34151,vjSohj-Iclc,"Getting some air, Atlas?",NaN
35988,1h7KV2sjUWY,True Facts : Ant Mutualism,NaN
36961,H08xgoXkpa8,Snoop Dogg Weighs In On Kanye's Controversial ...,NaN

The example below returns all rows where the description is not null.

In [53]:
df.loc[~pd.isnull(df['description']), ['video_id', 'title', 'description']].drop_duplicates()

,video_id,title,description
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,"One year after the presidential election, John..."
2,5qpjK5DgCt4,"Racist Superman | Rudy Mancuso, King Bach & Le...",WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,Nickelback Lyrics: Real or Fake?,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,I Dare You: GOING BALD!?,I know it's been a while since we did this sho...
...,...,...,...
40762,6h8QgZF5Qu4,Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs,James Corden and Ashton Kutcher square off in ...
40764,mpnshdmtE2Y,Carla Makes BA Smashburgers | From the Test Ki...,"Ground chuck is a great all-purpose, buy-it-an..."
40766,yz7Xq3T0YPs,"Katherine Langford on 13 Reasons Why, Australi...","Katherine talks about learning accents, growin..."
40793,SWVtV59mczk,Battlefield 5 Official Multiplayer Trailer,Battlefield™ V launches worldwide on October 1...
40846,Wz_YwUpNOcw,Wouldn't Leave,Provided to YouTube by Universal Music GroupWo...

## LIKE

```SQL
SELECT col1, col2, ... FROM table WHERE colN LIKE pattern
```

The LIKE keyword can be used in a WHERE clause to test if a column matches a pattern.

In pandas we can use python's native `re` module for regular expressions to accomplish the same thing, or even more as the python's `re` module allows for a richer set of patterns to be tested rather than SQL's LIKE.

We will create a function `like(x, pattern)` where `x` is an array-like object and `pattern` is a string containing the pattern which we want to test for. This function will first compile the `pattern` into a regular expression object, then we can use the `.fullmatch(val)` method to test the `val`'s value against our `pattern`. In order to apply this test to each element in our `x` vector we will use numpy's `vectorize(func)` function to create a vector equivalent for our operation of regex matching. Finally we apply this vectorized function to our `x` input vector. Then all we need to do is to pass `like(df['column'], pattern)` as pirst parameter in `.loc[]`.

In [54]:
import re

def like(x, pattern):
    r = re.compile(pattern)
    vlike = np.vectorize(lambda val: bool(r.fullmatch(val)))
    return vlike(x)

As an example the below code returns all videos that contains the word 'math' in their description.

In [55]:
df_notnull = df.loc[~pd.isnull(df['description']), :]
df_notnull.loc[like(df_notnull['description'], '.* math .*'), ['video_id', 'title']].drop_duplicates()

          video_id                                              title
1905   WKcYTvyoidw  Parenting Habits That Could Keep Children From...
26016  DjjBg8hTaPo                   How Much Food Is There On Earth?

# ORDER BY

```SQL
SELECT col1, col2, ... FROM table ORDER BY col1, col2 ASC|DESC
```

This SQL keyword is used to sort the results in ascending or descending order.

It is straightforward to translate this to pandas, you just call the `.sort_values(by=['col1', ...], ascending=True/False)` method on a dataframe.

In [56]:
df.loc[df['likes'] >= 1000000, ['video_id', 'title']].sort_values(by=['title'], ascending=True).drop_duplicates()

          video_id                                              title
31025  ffxKSjUwKdU               Ariana Grande - No Tears Left To Cry
28156  kX0vO4vlJuU  BTS (방탄소년단) 'Euphoria : Theme of LOVE YOURSELF...
36816  7C2z4GqqS5E                BTS (방탄소년단) 'FAKE LOVE' Official MV
38352  D_6QmL6rExk  BTS (방탄소년단) 'FAKE LOVE' Official MV (Extended ...
35370  2tDKp41nrw8          BTS (방탄소년단) 'FAKE LOVE' Official Teaser 2
2626   kTlv5_Bs8aw  BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...
1752   ixxR3ZoqnF0  BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...
34562  p8npDG2ulKQ  BTS (방탄소년단) LOVE YOURSELF 轉 Tear 'Singularity'...
33541  zEf423kYfqk  Becky G, Natti Natasha - Sin Pijama (Official ...
11585  LsoLEjrDogU  Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...
20823  Vm4Xn5vjqRA        CRISTIANO RONALDO E FRED, O GRANDE ENCONTRO
39211  xTlNMmZKwpA  Cardi B, Bad Bunny & J Balvin - I Like It [Off...
37123  VYOjWnS4cMY  Childish Gambino - This Is America (Official V...
4476   SM1w9PEQOE8                  Demi Lovato - Tell Me You Love Me
12994  Mgfe5tIwOj0            Dua Lipa - IDGAF (Official Music Video)
34330  iWZmdoY1aTE              Ed Sheeran - Happier (Official Video)
70     2Vv-BfVoq4g        Ed Sheeran - Perfect (Official Music Video)
7767   eiDiKwbGfIY  Ed Sheeran - Perfect Symphony (with Andrea Boc...
20159  wfWIs2gFTAM                      Eminem - River ft. Ed Sheeran
25514  sS0LCjOiIhc                                      GOT7 Look M/V
14755  J41qe-TM1DY                    JONGHYUN 종현 '빛이 나 (Shinin’)' MV
17063  _5d-sQ7Fh5M                                LOGAN PAUL IS BACK!
6978   khPLWaBioOs  Logan Paul - SANTA DISS TRACK (Official Music ...
2365   TyHvyGVs42U          Luis Fonsi, Demi Lovato - Échame La Culpa
38765  aJOTlE1K90k              Maroon 5 - Girls Like You ft. Cardi B
24559  QwievZ1Tx-8  Marvel Studios' Avengers: Infinity War - Offic...
4043   6ZfuNTqbHE8  Marvel Studios' Avengers: Infinity War Officia...
14951  VRJmcxCrAOA             Real Life Trick Shots 2 | Dude Perfect
15925  J_CFBjAyPWE                       Red Velvet 레드벨벳 'Bad Boy' MV
40194  VY1eFxgRR-k                         Selena Gomez - Back To You
32030  36tggrpRoTI                         Shawn Mendes - In My Blood
10862  QwZT7T-TXT0                                          So Sorry.
14201  oWjxSkJpxFU                         Suicide: Be Here Tomorrow.
29243  i0p1bmr0EmE                            TWICE What is Love? M/V
26339  tCXGJQYZ9JA                            Taylor Swift - Delicate
12992  dfnCAmr569k     Taylor Swift - End Game ft. Ed Sheeran, Future
31313  M4ZoCHID9GI     The Weeknd - Call Out My Name (Official Video)
31584  u9Mv98Gr5pY                      VENOM - Official Trailer (HD)
6181   FlsCjmMhFmw  YouTube Rewind: The Shape of 2017 | #YouTubeRe...
29827  J-dv_DcDD_A                     ZAYN - Let Me (Official Video)
40072  nQySbNGu4g0  [CHOREOGRAPHY] BTS (방탄소년단) 'FAKE LOVE' Dance P...
24739  8O_MwlZ2dEg                               j-hope 'Airplane' MV
21813  OK3GJ0WIQ8s                         j-hope 'Daydream (백일몽)' MV
39993  J2HytHu5VBI                                        we broke up

# GROUP BY

```SQL
SELECT col1, col2, ... FROM table GROUP BY colN
```

The GROUP BY statement groups rows that have the same value for a specific column. It is often used with aggregate functions (MIN, MAX, COUNT, SUM, AVG).

In pandas it is as simple as calling the `.groupby(['col1', ...])` method, followed by a call to one of `.min()`, `.max()`, `.count()`, `.sum`, `.mean()` methods.

In [57]:
df.loc[:, ['channel_title', 'views', 'likes', 'dislikes']].groupby(['channel_title']).sum()

                             views     likes  dislikes
channel_title
12 News                     177970       352        90
1MILLION Dance Studio     20959169   1399898     15030
1theK (원더케이)              57375949   3663362     63329
20th Century Fox        1082872611  24419452    488761
2CELLOS                     432186     22900       245
...                            ...       ...       ...
ワーナー ブラザース 公式チャンネル         7389323    154962      6128
圧倒的不審者の極み!                11417717    157447     12315
杰威爾音樂 JVR Music          400530463   3400678    229439
郭韋辰                          26964        99         2
영국남자 Korean Englishman     5963784    147154      2579

[2207 rows x 3 columns]

# HAVING

```SQL
SELECT col1, col2, ... FROM table GROUP BY colN HAVING condition
```

The HAVING keyword is used to filter the results based on group-level conditions.

In pandas we have the `.filter(func)` method that can be called after a `groupby()` call. We need to pass to this method a function that takes a data frame of a group as a parameter and returns a boolean value that decides whether this group is included in the results or not.

But if we want to do more things at once in pandas, e.g. apply aggregate functions on columns and filter results based on group-level conditions, we need to do this in more steps. Whereas in SQL we could have done this in only one query. In the example below we want to group by _channel_title_, allow only channels that have at least 100 different videos in the table, and apply average function on _views_, _likes_, and _dislikes_.

In SQL this would be:

```SQL
SELECT channel_title, AVG(views), AVG(likes), AVG(dislikes)
FROM videos_table
GROUP BY channel_title
HAVING COUNT(video_id) > 100;
```

In [58]:
g = df.groupby(['channel_title'])
g = g.filter(lambda x: x['video_id'].count() > 100)
g = g.loc[:, ['channel_title', 'views', 'likes', 'dislikes']].groupby(['channel_title']).mean()
g

                              views          likes     dislikes
channel_title
20th Century Fox       8.021279e+06  180884.829630  3620.451852
ABC News               4.540516e+05    3627.186992  2276.097561
AsapSCIENCE            5.162413e+06   86787.370968  5019.612903
Binging with Babish    1.074592e+06   33679.839286   820.625000
Bon Appétit            8.502353e+05   22298.470199   712.410596
...                             ...            ...          ...
WWE                    2.789609e+06   42768.108280  2400.515924
Warner Bros. Pictures  4.434285e+06   39682.760000  5070.613333
Washington Post        1.604080e+06   13914.634783  7038.773913
You Suck At Cooking    7.727879e+05   35612.719626  1015.813084
jacksfilms             1.348708e+06   94536.297297  2718.081081

[69 rows x 3 columns]

# INSERT

```SQL
INSERT INTO table (column1, column2, ...) VALUES (value1, value2, ...)
```

This SQL statement is used to insert new rows in the table.


In pandas we can use the `concat(DataFrame1, DataFrame2)` function to append a new data frame at the end of an existing one. We will use `ignore_index=True` in order to continue indexing from the last row in the old data frame.

In [59]:
new_row = pd.DataFrame({'video_id': ['EkZGBdY0vlg'],
                        'channel_title': ['Professor Leonard'],
                        'title': ['Calculus 3 Lecture 13.3: Partial Derivatives']})

df = pd.concat([df, new_row], ignore_index=True)
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22.0,2018-05-18T01:00:06.000Z,[none],1064798.0,60008.0,382.0,3936.0,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24.0,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451.0,48068.0,1032.0,3992.0,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1.0,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813.0,192957.0,2846.0,13088.0,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20.0,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119.0,357079.0,212976.0,144795.0,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...
40949,EkZGBdY0vlg,NaN,Calculus 3 Lecture 13.3: Partial Derivatives,Professor Leonard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# DELETE

```SQL
DELETE FROM table WHERE condition
```

DELETE statement is used to delete existing rows from a table based on some condition.

In pandas we can use `.drop()` method to romove the rows whose indices we pass in. Unlike other methods this one doesn't accept boolean arrays as input. So we must convert our condition's output to indices. We can do that with `np.where()` function.

In the example below we deleted all the rows where `channel_title != '3Blue1Brown'`.

In [60]:
df.drop(np.where(df['channel_title'] != '3Blue1Brown')[0])

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
15541,spUNpyF58BY,18.01.02,But what is the Fourier Transform? A visual i...,3Blue1Brown,27.0,2018-01-26T18:47:48.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",298666.0,21524.0,90.0,1912.0,https://i.ytimg.com/vi/spUNpyF58BY/default.jpg,False,False,False,An animated introduction to the Fourier Transf...
23992,bcPTiiiYDs8,18.16.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",236393.0,9791.0,88.0,828.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
24206,bcPTiiiYDs8,18.17.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",269878.0,10425.0,110.0,882.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
24420,bcPTiiiYDs8,18.18.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",280015.0,10766.0,118.0,891.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
24633,bcPTiiiYDs8,18.19.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",287291.0,11000.0,121.0,901.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
24853,bcPTiiiYDs8,18.20.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",292273.0,11150.0,122.0,909.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
25070,bcPTiiiYDs8,18.21.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",296379.0,11255.0,123.0,916.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
25281,bcPTiiiYDs8,18.22.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",299420.0,11332.0,124.0,917.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
25494,bcPTiiiYDs8,18.23.03,How pi was almost 6.283185...,3Blue1Brown,27.0,2018-03-14T13:05:32.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",302153.0,11390.0,124.0,925.0,https://i.ytimg.com/vi/bcPTiiiYDs8/default.jpg,False,False,False,Happy pi day! Did you know that in some of hi...
26630,b7FxPsqfkOY,18.29.03,How to solve 2D equations using color,3Blue1Brown,27.0,2018-03-24T14:42:51.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",229838.0,11873.0,84.0,940.0,https://i.ytimg.com/vi/b7FxPsqfkOY/default.jpg,False,False,False,A story of winding numbers and composition.\nB...
26851,b7FxPsqfkOY,18.30.03,How to solve 2D equations using color,3Blue1Brown,27.0,2018-03-24T14:42:51.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",235802.0,12060.0,85.0,986.0,https://i.ytimg.com/vi/b7FxPsqfkOY/default.jpg,False,False,False,A story of winding numbers and composition.\nB...
27065,b7FxPsqfkOY,18.31.03,How to solve 2D equations using color,3Blue1Brown,27.0,2018-03-24T14:42:51.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",240059.0,12187.0,86.0,1003.0,https://i.ytimg.com/vi/b7FxPsqfkOY/default.jpg,False,False,False,A story of winding numbers and composition.\nB...
27274,b7FxPsqfkOY,18.01.04,How to solve 2D equations using color,3Blue1Brown,27.0,2018-03-24T14:42:51.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",244314.0,12314.0,89.0,1018.0,https://i.ytimg.com/vi/b7FxPsqfkOY/default.jpg,False,False,False,A story of winding numbers and composition.\nB...
27490,b7FxPsqfkOY,18.02.04,How to solve 2D equations using color,3Blue1Brown,27.0,2018-03-24T14:42:51.000Z,"Mathematics|""three blue one brown""|""3 blue 1 b...",248330.0,12453.0,89.0,1044.0,https://i.ytimg.com/vi/b7FxPsqfkOY/default.jpg,False,False,False,A story of winding numbers and composition.\nB...

In [61]:
# Alternatively
# df.drop(np.where(~(df['channel_title'] == '3Blue1Brown'))[0])

# ALTER

## ADD column

```SQL
ALTER TABLE table ADD column
```

This SQL statement adds new columns.

In pandas we can do this by: `df['new_column'] = array-like`.

Below we add a new column 'like_ratio':

In [62]:
df['like_ratio'] = df['likes'] / (df['likes'] + df['dislikes'])
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,like_ratio
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,0.950970
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",0.940521
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,0.964729
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,0.938550
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,0.985181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22.0,2018-05-18T01:00:06.000Z,[none],1064798.0,60008.0,382.0,3936.0,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN,0.993674
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24.0,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451.0,48068.0,1032.0,3992.0,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...,0.978982
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1.0,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813.0,192957.0,2846.0,13088.0,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...,0.985465
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20.0,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119.0,357079.0,212976.0,144795.0,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...,0.626394
40949,EkZGBdY0vlg,NaN,Calculus 3 Lecture 13.3: Partial Derivatives,Professor Leonard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## DELETE column

```SQL
ALTER TABLE table DROP COLUMN column
```

This SQL statement deletes a column.

`del df['column']` is how we do this in pandas.

In [63]:
del df['comments_disabled']
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,ratings_disabled,video_error_or_removed,description,like_ratio
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,0.950970
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,"One year after the presidential election, John...",0.940521
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,0.964729
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,Today we find out if Link is a Nickelback amat...,0.938550
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,I know it's been a while since we did this sho...,0.985181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22.0,2018-05-18T01:00:06.000Z,[none],1064798.0,60008.0,382.0,3936.0,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,NaN,0.993674
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24.0,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451.0,48068.0,1032.0,3992.0,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,I had so much fun transforming Safiyas hair in...,0.978982
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1.0,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813.0,192957.0,2846.0,13088.0,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,How Black Panther Should Have EndedWatch More ...,0.985465
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20.0,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119.0,357079.0,212976.0,144795.0,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...,0.626394
40949,EkZGBdY0vlg,NaN,Calculus 3 Lecture 13.3: Partial Derivatives,Professor Leonard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# UPDATE

```SQL
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```

The UPDATE statement is used to change values in our table based on some condition.

For doing this in python we can use numpy's `where()` function. We also saw this function a few lines above when we used it to convert boolean array to indices array. That is what this function does when given just one parameter. This function can receive 3 arrays of the same size as parameters, first one being a boolean array. Let's call them `c`, `x`, `y`. It returns an array of the same size filled with elements from `x` and `y` choosen in this way: if `c[i]` is true choose `x[i]` else choose `y[i]`.

To modify a data frame column we can do: `df['column'] = np.where(condition, new_values, df['column'])`.

In the example below we increase the number of likes by 100 where `channel_title == 'Veritasium'`.

This is how the data looks before:

In [64]:
df.loc[df['channel_title'] == 'Veritasium', ['title', 'likes']]

                                   title    likes
1425     Your Amazing Molecular Machines  20617.0
1655     Your Amazing Molecular Machines  26534.0
1900     Your Amazing Molecular Machines  28693.0
2106     Your Amazing Molecular Machines  30270.0
2316     Your Amazing Molecular Machines  31134.0
2538     Your Amazing Molecular Machines  31793.0
2757     Your Amazing Molecular Machines  32341.0
2988     Your Amazing Molecular Machines  32735.0
6051  This Particle Breaks Time Symmetry  43101.0
6274  This Particle Breaks Time Symmetry  46459.0
6510  This Particle Breaks Time Symmetry  47972.0
6721  This Particle Breaks Time Symmetry  49445.0
6958  This Particle Breaks Time Symmetry  50496.0
7195  This Particle Breaks Time Symmetry  51253.0

In [65]:
df['likes'] = np.where(df['channel_title'] == 'Veritasium', df['likes']+100, df['likes'])

And after:

In [66]:
df.loc[df['channel_title'] == 'Veritasium', ['title', 'likes']]

                                   title    likes
1425     Your Amazing Molecular Machines  20717.0
1655     Your Amazing Molecular Machines  26634.0
1900     Your Amazing Molecular Machines  28793.0
2106     Your Amazing Molecular Machines  30370.0
2316     Your Amazing Molecular Machines  31234.0
2538     Your Amazing Molecular Machines  31893.0
2757     Your Amazing Molecular Machines  32441.0
2988     Your Amazing Molecular Machines  32835.0
6051  This Particle Breaks Time Symmetry  43201.0
6274  This Particle Breaks Time Symmetry  46559.0
6510  This Particle Breaks Time Symmetry  48072.0
6721  This Particle Breaks Time Symmetry  49545.0
6958  This Particle Breaks Time Symmetry  50596.0
7195  This Particle Breaks Time Symmetry  51353.0

# JOIN

A JOIN clause is used to combine rows from two or more tables based on a related column between them.

In order to show examples of joins I need at least two tables, so I will split the data frame used so far into two smaller tables.

In [67]:
df_titles = df.loc[:, ['video_id', 'title']].drop_duplicates()
df_titles

          video_id                                              title
0      2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1      1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2      5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3      puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4      d380meD0W0M                           I Dare You: GOING BALD!?
...            ...                                                ...
40761  JGm9Y_hFqNk  First Take reacts: Kyrie Irving says contract ...
40762  6h8QgZF5Qu4  Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs
40764  mpnshdmtE2Y  Carla Makes BA Smashburgers | From the Test Ki...
40766  yz7Xq3T0YPs  Katherine Langford on 13 Reasons Why, Australi...
40949  EkZGBdY0vlg       Calculus 3 Lecture 13.3: Partial Derivatives

[6464 rows x 2 columns]

In [68]:
df_stats = df.loc[:, ['video_id', 'views', 'likes', 'dislikes']].groupby('video_id').max()
df_stats = df_stats.reset_index()
df_stats

         video_id      views     likes  dislikes
0     -0CMnp02rNY   800359.0    9773.0     332.0
1     -0NYY8cqdiQ   563746.0    4429.0      54.0
2     -1Hm41N0dUs  2058516.0   41248.0     580.0
3     -1yT-K3c6YI   231341.0    7734.0     212.0
4     -2RVw2_QyxQ    71089.0     460.0      27.0
...           ...        ...       ...       ...
6347  zwEn-ambXLw   241668.0    8478.0     144.0
6348  zxUwbflE1SY   225280.0    5770.0     150.0
6349  zxwfDlhJIpw  8442986.0  166520.0   19462.0
6350  zy0b9e40tK8   378750.0    5642.0     146.0
6351  zzQsGL_F9_c   199041.0    1415.0     121.0

[6352 rows x 4 columns]

Doing joins in pandas is straightforward: it has a `.join()` method that we can use like this: `df1.join(df2.set_index('key_column'), on='key_column')`

There are more types of joins: inner, full, left, and right joins.
* INNER JOIN: returns rows that have matching values in both tables
* FULL (OUTER) JOIN: returns rows that have matching values in any of the tables
* LEFT JOIN: returns all rows from the left table, and the matched rows from the right one
* RIGHT JOIN: returns all rows from the right table, and the matched rows from the left one

To specify which type of join you want in pandas you can use the `how` parameter in `.join()` method. This parameter can be one of: 'inner', 'outer', 'left', 'right'.

Below are examples of these types of joins of the two data frames above on 'video_id' column.

## INNER JOIN

```SQL
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
```

In [69]:
df_titles.join(df_stats.set_index('video_id'), on='video_id', how='inner')

,video_id,title,views,likes,dislikes
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,2564903.0,96321.0,7972.0
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,6109402.0,151250.0,11508.0
2,5qpjK5DgCt4,"Racist Superman | Rudy Mancuso, King Bach & Le...",5315471.0,187303.0,7278.0
3,puqaWrEC7tY,Nickelback Lyrics: Real or Fake?,913268.0,16729.0,1386.0
4,d380meD0W0M,I Dare You: GOING BALD!?,2819118.0,153395.0,2416.0
...,...,...,...,...,...
40761,JGm9Y_hFqNk,First Take reacts: Kyrie Irving says contract ...,812832.0,7701.0,320.0
40762,6h8QgZF5Qu4,Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs,864189.0,18811.0,399.0
40764,mpnshdmtE2Y,Carla Makes BA Smashburgers | From the Test Ki...,540149.0,14206.0,693.0
40766,yz7Xq3T0YPs,"Katherine Langford on 13 Reasons Why, Australi...",296295.0,8157.0,294.0
40949,EkZGBdY0vlg,Calculus 3 Lecture 13.3: Partial Derivatives,NaN,NaN,NaN

## OUTER JOIN

```SQL
SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;
```

In [70]:
df_titles.join(df_stats.set_index('video_id'), on='video_id', how='outer')

,video_id,title,views,likes,dislikes
39169,-0CMnp02rNY,Mindy Kaling's Daughter Had the Perfect Reacti...,800359.0,9773.0,332.0
15457,-0NYY8cqdiQ,Megan Mullally Didn't Notice the Interesting P...,563746.0,4429.0,54.0
31553,-1Hm41N0dUs,Cast of Avengers: Infinity War Draws Their Cha...,2058516.0,41248.0,580.0
3019,-1yT-K3c6YI,YOUTUBER QUIZ + TRUTH OR DARE W/ THE MERRELL T...,231341.0,7734.0,212.0
90,-2RVw2_QyxQ,2017 Champions Showdown: Day 3,71089.0,460.0,27.0
...,...,...,...,...,...
26002,zwEn-ambXLw,This Is Me - Cover by Shoshana Bean Featuring ...,241668.0,8478.0,144.0
246,zxUwbflE1SY,100 People Hold Their Breath for as Long as Th...,225280.0,5770.0,150.0
32150,zxwfDlhJIpw,kanye west / charlamagne interview,8442986.0,166520.0,19462.0
144,zy0b9e40tK8,Dark | Official Trailer [HD] | Netflix,378750.0,5642.0,146.0
16360,zzQsGL_F9_c,Budweiser | Beer Country | :60,199041.0,1415.0,121.0

## LEFT JOIN

```SQL
SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;
```

In [71]:
df_titles.join(df_stats.set_index('video_id'), on='video_id', how='left')

,video_id,title,views,likes,dislikes
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,2564903.0,96321.0,7972.0
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,6109402.0,151250.0,11508.0
2,5qpjK5DgCt4,"Racist Superman | Rudy Mancuso, King Bach & Le...",5315471.0,187303.0,7278.0
3,puqaWrEC7tY,Nickelback Lyrics: Real or Fake?,913268.0,16729.0,1386.0
4,d380meD0W0M,I Dare You: GOING BALD!?,2819118.0,153395.0,2416.0
...,...,...,...,...,...
40761,JGm9Y_hFqNk,First Take reacts: Kyrie Irving says contract ...,812832.0,7701.0,320.0
40762,6h8QgZF5Qu4,Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs,864189.0,18811.0,399.0
40764,mpnshdmtE2Y,Carla Makes BA Smashburgers | From the Test Ki...,540149.0,14206.0,693.0
40766,yz7Xq3T0YPs,"Katherine Langford on 13 Reasons Why, Australi...",296295.0,8157.0,294.0
40949,EkZGBdY0vlg,Calculus 3 Lecture 13.3: Partial Derivatives,NaN,NaN,NaN

## RIGHT JOIN

```SQL
SELECT column_name(s)
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;
```

In [72]:
df_titles.join(df_stats.set_index('video_id'), on='video_id', how='right')

,video_id,title,views,likes,dislikes
39169,-0CMnp02rNY,Mindy Kaling's Daughter Had the Perfect Reacti...,800359.0,9773.0,332.0
15457,-0NYY8cqdiQ,Megan Mullally Didn't Notice the Interesting P...,563746.0,4429.0,54.0
31553,-1Hm41N0dUs,Cast of Avengers: Infinity War Draws Their Cha...,2058516.0,41248.0,580.0
3019,-1yT-K3c6YI,YOUTUBER QUIZ + TRUTH OR DARE W/ THE MERRELL T...,231341.0,7734.0,212.0
90,-2RVw2_QyxQ,2017 Champions Showdown: Day 3,71089.0,460.0,27.0
...,...,...,...,...,...
26002,zwEn-ambXLw,This Is Me - Cover by Shoshana Bean Featuring ...,241668.0,8478.0,144.0
246,zxUwbflE1SY,100 People Hold Their Breath for as Long as Th...,225280.0,5770.0,150.0
32150,zxwfDlhJIpw,kanye west / charlamagne interview,8442986.0,166520.0,19462.0
144,zy0b9e40tK8,Dark | Official Trailer [HD] | Netflix,378750.0,5642.0,146.0
16360,zzQsGL_F9_c,Budweiser | Beer Country | :60,199041.0,1415.0,121.0